@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  /* .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  } */
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}


.set-bg-cover{
  width: 100%;
  height: 100%;
  object-fit: cover;
  
  background-repeat: no-repeat;
}

body::-webkit-scrollbar{
  display: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}


/* ############################################### */
/* media queries */
/* Nano Small Screen (ns) */
@media (max-width: 359px) {
  /* Your CSS rules for small screens here */
  .frame-container {
    width: 90%;
  }
}

/* Small small Screen (ss) */
@media (min-width:360px) and (max-width: 640px) {
  /* Your CSS rules for small screens here */
  .frame-container {
    width: calc(100% - 40px);/*100% - 32px - default {16, 24, 32}*/
  }
}

/* Small Screen (sm) */
@media (min-width: 640px) and (max-width: 767px) {
  /* Your CSS rules for small screens here */
  .frame-container {
    width: 94%;
  }
}

/* Medium Screen (md) */
@media (min-width: 768px) and (max-width: 1119px) {
  /* Your CSS rules for medium screens here */
  .frame-container {
    width: 94%;
  }
}

/* Large Screen (lg) */
@media (min-width: 1120px) and (max-width: 1279px) {
  /* Your CSS rules for large screens here */
  .frame-container {
    width: 90%;
  }
}

/* Extra Large Screen (xl) */
@media (min-width: 1280px) and (max-width: 1399px) {
  /* Your CSS rules for extra large screens here */
  .frame-container {
    width: 90%;
  }
}

/* 2 Extra Large Screen (2xl) */
@media (min-width: 1400px) and (max-width: 1859px) {
  /* Your CSS rules for 2 extra large screens here */
  .frame-container {
    width: 1344px;
  }
}

/* 3 Extra Large Screen (3xl) */
@media (min-width: 1860px) {
  /* Your CSS rules for 3 extra large screens here */
  .frame-container {
    width: 1728px;
  }
}

.set-bg-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-repeat: no-repeat;
}

.homeImage {
  background-image: url("../public/home.png");
  background-size: cover;
  background-position: center;
}